<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

	<h1>Movie Info</h1>

	<p>Movie title: <%= film.title %></p>
	<p>Movie year: <%= film.year %></p>
	<p>Movie rating: <%= film.rating %></p>
	<p>Movie genre: <%= film.genre %></p>
	<p>Movie director: <%= film.director %></p>
	<p>Movie actors: <%= film.actors%></p>
	<p>Movie plot: <%= film.plot%></p>
	<p>Movie poster_url: <%= film.poster_url%></p>

</body>
</html>

