	<h2>Movie Info</h2>

	<p>Movie title: <%= film.title %></p>
	<p>Movie year: <%= film.year %></p>
	<p>Movie rating: <%= film.rating %></p>
	<p>Movie genre: <%= film.genre %></p>
	<p>Movie director: <%= film.director %></p>
	<p>Movie actors: <%= film.actors%></p>
	<p>Movie plot: <%= film.plot%></p>

	<p>Movie poster: <br></p> 
	<img src="<%= film.poster_url%>"/>